<section class='user-container'>
  <div class='user'>
       <div class='user_Photo'>
    <div><%= image_tag @user.photo, class: 'profile-photo' %></div>
  </div>
  <div class='user_name'>
    <h2><%= @user.name %></h2>
    <div class='post_nums'>
      <p class="post_count">Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
</div>

<section class="posts_container">
  <% @posts.each_with_index do |post, index| %>
    <div class="post">
      <h3>Post #<%= index+1 %></h3>
      <p class="post_text"><%= post.text %></p>
      <p class="comments_likes">
        Comments: <%= post.comments_counter %>,
        Likes: <%= post.likes_counter %>
      </p>
    </div>
  <% end %>
</section>

  <section class="post">
  <% if @posts %>
    <% @posts.includes(:comments).each do |post| %>
      <%= link_to user_post_path(@id, post.id), class: "user-link" do %>
        <div class="">
          <h3><%= post.title %></h3>
          <p><%= post.text %></p>
          <div class=" ">
            <p>Comments: <%= post.comments_counter.nil? ? 0 : post.comments_counter %></p>
            <p class="">Likes: <%= post.likes_counter.nil? ? 0 : post.likes_counter %></p>
          </div>
        </div>
      <% end %>
      <div class="">
        <% @comments = Post.find(post.id).recent_comments %>
        <% @comments.each do |comment| %> 
          <div class="">
            <h3><%= comment.user_id %></h3>:
            <h5 class=""><%= comment.text %></h5> 
          </div>   
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No posts found</p>
  <% end %>


</section>
  </div>
   <div class='btn_section'>
    <button class="all_posts home">
      <%=link_to 'home',  '/users' %>
    </button>

    <button class="all_posts">
      Next
    </button>
      
    <button class="ll_posts home">
      <%= link_to 'back', "/users/#{@user.id}" %>
    </button>


